[submodule "src/perception/perception_py"]
	path = src/perception/perception_py
  url = git@github.com:baqu4-2025-driverless/perception_py
  branch = main

[submodule "src/perception/clustering_cxx"]
	path = src/perception/clustering_cxx
	url = git@github.com:baqu4-2025-driverless/clustering_cxx
  branch = main
